.spanBlock {

    display: flex;
    align-items: center;
    color: #0080FF;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.span {
    display: flex;
    height: 100%;
    align-items: center;
}

.input {
    display: flex;
    height: 30px;
    width: 276px;
    border-color: #D1D1D1;
    outline-color: #D1D1D1;
}

.pen {
}